{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}


{% block content %}
<div class="top">
    <div class="columns">
        <div class="column is-full featured_wrapper p-0">
            <img src="{{ url_for('static', filename='images/sw.jpg') }}" class="featured">
            <div class="title_wrapper">
                <span class="has-text-white" style="font-weight: 600;">Trending Today</span>
                <h1 class="title is-1 has-text-white">STAR WARS: The Last Jedi</h1>
                <button class="button is-medium">Watch It Now</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}