{% extends 'base.html' %}

{% block content %}
<h1 class="genre-title">{% block title %} User Dashboard {% endblock %}</h1>
    <style>.badge-image {
        max-width: 80px;  /* Adjust the desired maximum width */
        max-height: 80px; /* Adjust the desired maximum height */
        margin-left: 40px;
        }</style>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <form action="/user" method="POST">
        <div class="search-input"></div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Submit</button>
        </form>
        <div>
    </form>

    {% if chart_json %}
    <div id="chart"></div>
    <script>
        var chartJson = {{ chart_json | safe }};
        Plotly.newPlot('chart', chartJson);
    </script>
    {% endif %}
    
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}

    {% if username %}
    <h1 class="genre-title">Overall Score: {{ overall_score }}</h1>
    <img class="badge-image" src="{{ badge_image_url }}" alt="Badge">
    {% endif %}

    {% if pie_json %}
    <h1 class="genre-title">Genre Distribution</h1>
    <div id="genre-chart"></div>
    <script>
        var chartJson = {{ pie_json | safe }};
        Plotly.newPlot('genre-chart', chartJson);
    </script>
    {% endif %}

</body>
</html>

{% endblock %}