{% extends 'base.html' %}

{% block content %}

<h1 class="genre-title">{% block title %} Movie Recommendation {% endblock %}</h1>

<div class="filters" style="padding-bottom:1vw;">
    <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()">
            <select>
                <option>SELECT GENRE(S)</option>
            </select>
            <div class="overSelect"></div>
        </div>
        <div id="checkboxes">
            {% for g in genres %}
            <label for="{{g}}"><input class="genre-checkbox" type="checkbox" value="{{g}}" name="{{g}}"
                    onchange="updateFilter()">{{g}}</label>
            {% endfor %}
        </div>
    </div>

    <div class="amount-container">
        <label for="amount">Number of Recs :</label>
        <input type="number" id="amount" name="amount" onchange="updateFilter()" style="padding:0.5vw;">
    </div>

    <div class="select-container">
        <select class="genre-selection" name="sort" id="sort" onchange="updateFilter()">
            <option value="vote_average" selected>Vote Score</option>
            <option value="year_released">Year Released</option>
            <option value="popularity">Popularity</option>
            <option value="runtime">Runtime</option>
        </select>
    </div>

</div>

<div class="movies-selection" id="movies-selection">

</div>

<script type="text/javascript">
    updateFilter();
    var expanded = false;

    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }

    function updateFilter() {
        let genre_selected = document.querySelectorAll('.genre-checkbox:checked');
        let genres = []

        for (let i = 0; i < genre_selected.length; i++) {
            genres.push(genre_selected[i].value);
        }

        let amount = document.getElementById('amount').value;
        let sort_by = document.getElementById('sort').value;

        let formData = new FormData();

        if (genres != []) {
            formData.append('genres', genres);
        } else {
            formData.append('genres', '')
        }

        if (amount != '') {
            formData.append('amount', amount);
        } else {
            formData.append('amount', 10)
        }

        if (sort_by != '') {
            formData.append('sort', sort_by);
        } else {
            formData.append('sort', 'vote_average');
        }

        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:5000/process",
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                let entry = JSON.parse(data);
                let new_html = ''

                for (let i = 0; i < entry.length; i++) {
                    length_sum = entry[i].overview.length

                    if (length_sum > 600) {
                        length_sum = 600
                    }

                    new_html += '<div class="card"><div class="card_left"><img src={{ url_for("static", filename="images/oppenheimer.jpg" )}}></div>' +
                        '<div class="card_right"><h1>' + entry[i].movie_title + ' (' + entry[i].vote_average + ')</h1><div class="card_right__details"><ul><li>'
                        + entry[i].year_released + '</li><li>' + entry[i].runtime + ' mins</li><li>' + entry[i].genres + '</li></ul>' +
                        '<div class="card_right__review"><p>' + entry[i].overview.slice(0, length_sum) + '</p><a href="' + entry[i].imdb_link
                        + '" target="_blank">Read more </a></div><div class="card_right__button">' +
                        '</div></div></div></div>'
                }

                let movie_selection = document.querySelector("#movies-selection");
                movie_selection.innerHTML = new_html;
            }
        });
    }

</script>

{% endblock %}